@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;700&family=Open+Sans:wght@300&display=swap');

@font-face{
  font-family: Arcade;
  src: url('../fonts/ARCADE_I.TTF');
}