@import "fonts";
@import "layout";

$underline: 3px;
$accentColor: #ff1493;

@mixin clear {
  margin: 0;
  padding: 0;
}

html, body {
  @include clear();
  font-size: 1em;
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
  background-color: #09040B;
  color: white;
  font-family: 'Josefin Sans', 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.mainbg {
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
}

button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 150ms ease-out;
}

a {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }
}

.titleContainer {
  height: 115px;
}

h1 {
  @include clear();
  font-family: 'Arcade';
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  text-shadow: 4px 4px $accentColor;
  text-align: center;
  
  &.retro {
    animation: enter-title;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.68, 0, 1, 0.68);
    animation-duration: 750ms;
    opacity: 0;
    animation-delay: 100ms;
  }
  
  &.vg {
    animation: enter-title;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.68, 0, 1, 0.68);
    animation-duration: 750ms;
    opacity: 0;
    animation-delay: 500ms;
  }
}

@keyframes enter-title {
  0% {
    opacity: 0;
    font-size: 1rem;
  }
  100% {
    opacity: 1;
    font-size: 4rem;
  }
}

header {
  align-self: stretch;
  padding: 1rem 2rem;
  min-height: 100px;

  & a{
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 100ms linear;
    &:hover {
      color: inherit;
    }
  }

  & .menuContainer {
    @include clear();
    list-style-type: none;
    gap: 1rem;
    
    & a span {
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: $underline;
      text-underline-offset: 5px;
      transition: all 100ms ease-out;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: $underline;
        bottom: -5px;
        background: $accentColor;
        visibility: hidden;
        border-radius: 10px;
        transform: scaleX(0);
        transition: 100ms ease-out;
        box-shadow: 0 0 10px 2px $accentColor;
      }

      &:hover:before{
        visibility: visible;
        transform: scaleX(1);
      }
    }
  } 

  & .mobileMenu {
    position: relative;

    & .menuBtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0.5rem;
    }
    
    & .content {
      display: none;
      position: relative;
      
      & .menuItemsContainer {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: .25em;
      }

      & a {
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 150ms ease-out;
        border-radius: 1rem;
        border: 2px solid $accentColor;
        background-color: white;
        color: black;
        padding: .5rem 1rem;
        right: 0;
        &:hover {
          background-color: $accentColor;
          color: white;
        }
      }
    }

    &:hover .content {
      display: flex;
    }
    
  }
  
  & .menu {
    display: none;
    flex-direction: row;
  }
}


main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 1em;
}

fieldset {
  gap: 2rem;
}

input[type="text"], input[type="email"] {
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  transition: all 150ms ease-out;
  
  &:focus {
    border-bottom: 1px solid $accentColor;
  }
}

input[type="submit"] {
  border: 0;
  outline: 0;
  background-color: white;
  padding: 1rem;
  color: black;
  transition: all 150ms ease-out;
  cursor: pointer;
  
  &:hover {
    background-color: $accentColor;
    color: white;
  }
}

.gallery img {
  width: 100px;
}

.people {
  gap: 4rem;
  padding: 2rem 0;
  flex-direction: column;
  
  & .person {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    
    & .content{
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
    }
    
    & img {
      width: 10rem;
      border-radius: 5rem 0 5rem 0;
      box-shadow: 1px 1px $accentColor;
    }
  }
  
}


.game {
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-bottom: 4em;
  
  & .description {
    padding-left: 2rem;
    max-width: 40ch;
  }
  
  & img {
    width: 100%;
    max-width: 400px;
  }

  & button {
    background-color: white;
    color: $accentColor;
    margin: .5em;
    text-transform: uppercase;

    &:hover {
      background-color: $accentColor;
      color: white;
    }
  }
}

@import "mediaqueries";