@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;700&family=Open+Sans:wght@300&display=swap');

@font-face{
  font-family: Arcade;
  src: url('../fonts/ARCADE_I.TTF');
}

:root{
  --underline: 3px;
  --accent-color: #ff1493;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
  background-color: #09040B;
  color: white;
  font-family: 'Josefin Sans', 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.mainbg {
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
}

.titleContainer {
  height: 115px;
}

h1 {
  font-family: 'Arcade';
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  margin: 0;
  text-shadow: 4px 4px var(--accent-color);
  text-align: center;
}
h1.retro {
  animation: enter-title;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.68, 0, 1, 0.68);
  animation-duration: 750ms;
  opacity: 0;
  animation-delay: 100ms;
}
h1.vg {
  animation: enter-title;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.68, 0, 1, 0.68);
  animation-duration: 750ms;
  opacity: 0;
  animation-delay: 500ms;
}

@keyframes enter-title {
  0% {
    opacity: 0;
    font-size: 1rem;
  }
  100% {
    opacity: 1;
    font-size: 4rem;
  }
}

header {
  align-self: stretch;
  padding: 1rem 2rem;
  min-height: 100px;
}

header ul {
  list-style-type: none;
  gap: 1rem;
  padding: 0;
}

header a {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 100ms linear;
}
header ul a {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: var(--underline);
  text-underline-offset: 5px;
  transition: all 100ms ease-out;
  position: relative;
}

header ul a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--underline);
  bottom: -5px;
  background: var(--accent-color);
  visibility: hidden;
  border-radius: 10px;
  transform: scaleX(0);
  transition: 100ms ease-out;
  box-shadow: 0 0 10px 2px var(--accent-color);
}
header ul a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

header .mobileMenu {
  position: relative;
}

header .mobileMenu .menuBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

header .mobileMenu .content {
  position: relative;
}

header .mobileMenu .content a {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 150ms ease-out;
  border-radius: 1rem;
  border: 2px solid var(--accent-color);
  background-color: white;
  color: black;
  padding: .5rem 1rem;
  right: 0;
}

header .menu {
  display: none;
  flex-direction: row;
}



main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 1em;
}


fieldset {
  gap: 2rem;
}
input[type="text"], input[type="email"] {
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  transition: all 150ms ease-out;
}
input[type="text"]:focus, input[type="email"]:focus {
  border-bottom: 1px solid var(--accent-color);
}

input[type="submit"] {
  border: 0;
  outline: 0;
  background-color: white;
  padding: 1rem;
  color: black;
  transition: all 150ms ease-out;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--accent-color);
  color: white;
}

.gallery img {
  width: 100px;
}

.people {
  gap: 4rem;
  padding: 2rem 0;
  flex-direction: column;
}

.people .person {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.people .person .content{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.people .person img {
  width: 10rem;
  border-radius: 5rem 0 5rem 0;
  box-shadow: 1px 1px var(--accent-color);
}

.game {
  padding: 0.5rem 2rem;
}
.game .description {
  padding-left: 2rem;
  max-width: 40ch;
}

.game img {
  width: 100%;
}